{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<section class="flex flex-col items-center" style="background: linear-gradient(135deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);">
		<h1 class="my-5 text-xl">Inscription</h1>

		{{ form_errors(registrationForm) }}

		{{ form_start(registrationForm) }}
		<div class="mb-5">
			{{ form_widget(registrationForm.email) }}
		</div>
		<div class="mb-5">
			{{ form_widget(registrationForm.plainPassword) }}
		</div>
		<div class="mb-5">
			{{ form_widget(registrationForm.nom) }}
		</div>
		<div class="mb-5">
			{{ form_widget(registrationForm.prenom) }}
		</div>
		<div class="mb-5">
			{{ form_widget(registrationForm.age) }}
		</div>
		<div class="mb-5">
			{{ form_widget(registrationForm.poste) }}
            <p class="text-sm">*obligatoire</p>
		</div>

		<button type="submit" class="btn p-1 bg-blue-500 mb-5 rounded-lg">Inscription</button>
        
		{{ form_end(registrationForm) }}
	</section>
{% endblock %}
